<html>
    <head>
        <title>Kata Submission Confirmation</title>
    </head>
<body>

<p>
<%= name %> at <%= from %>, we have emailed your kata at: <%= kataURL %></em> to your recruiter.
</p>

</body>
</html>
