<html>
    <head>
        <title>Submit a Kata!</title>
    </head>
<body>

<h1>Please Provide Your Kata Information</h1>

<form action="/confirm/" method="POST">
    Please input your name: <input type="text" name="name">
    <br/>
    Please input your email address: <input type="text" name="from">
    <br/>
    Please input your Kata URL: <input type="text" name="kataURL">
    <br/>
    Please input your test command: <input type="text" name="testCommand">
    <br/>
    <input type="submit">
</form>

</body>
</html>
